.links {
  width: 100%;
  height: auto;
  position: relative;
  &__main {
    background-color: rgb(140, 96, 235);
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;

    a {
      color: #fff;
      font-size: 20px;
      padding: 0 15px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}